{% extends 'CAPAPPv1/ALog/book/base.html' %}
{% load static %}

{% block content %}
<h3> </h3>

<div id="img">
    <img src="{% static 'CAPAPPv1/media/AUI-Logo-300x150.png' %}" class="img-fluid" alt="" >

  </div>
<h2> This new platform is designed for professors   </h2>
<h2> To help minimize the hassle of going  </h2>
<h2> Through the reservation </h2>
<h2> Of classes from the comfort of their houses </br> </br> </h2>
<h2> Are you a Professor ? </h2>
<h2> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login2' %}"> Log In </a> </h2> 

{% endblock content %}


{% block more_links %}
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'home' %}">login</a>

{% endblock more_links %}