{% extends 'CAPAPPv1/ALog/book/base.html' %}
{% load static %}

{% block content %}
<h3>  </h3>

<div id="img">
    <img src="{% static 'CAPAPPv1/media/AUI-Logo-300x150.png' %}" class="img-fluid" alt="" >

  </div>
<h2> In case of Enquiries please contact our numbers  </h2>
<h2> ITS numbers......  </br></br> </h2>
<h2> Still Have a question</br> </h2>

<form action="" method="post">
        {% csrf_token %}
      <!-- <div class="fields"> <h3>Full Name {{ form.name }} </h3> </div>
      <div class="fields"><h3> email {{ form.email }} </h3></div>
      <div class="fields"><h3> message {{ form.message }} </h3></div> -->
      <div> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.as_p }}</div>
      <input class="button-custom" type="submit" value="DONE">
</form>

{% endblock content %}


{% block more_links %}
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'home' %}">login</a>
{% endblock more_links %}